<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD66A0931WdPK3SUIQl-WUYhPooTY4JW8</string>
	<key>GCM_SENDER_ID</key>
	<string>85463742507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giolab.ragaca</string>
	<key>PROJECT_ID</key>
	<string>ragaca-6d90f</string>
	<key>STORAGE_BUCKET</key>
	<string>ragaca-6d90f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85463742507:ios:698abdb63c68145db4526e</string>
</dict>
</plist>